.apexcharts-toolbar {
	max-width: 100px!important;
	width: 100%;

	.apexcharts-menu-icon {
		transform: scale(1);
		width: 40px;
		height: 40px;
		
		svg {
			width: 40px;
			height: 40px;
		}
		@media (max-width: 450px) {
			transform: scale(0.7);
		}
	}
	.info {
		width: 40px;
		height: 40px;

		.apexcharts-toolbar-custom-icon {
			width: inherit;
			height: inherit;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			width: 25px;
			height: 25px;
			// @media (max-width: 450px) {
			// 	transform: scale(0.8);
			// }

			@media (max-width: 395px) {
				display: none;
			}
		}
	}
}