@import '../../styles/variables';

.cabecalho {
	width: 100%;
	height: 20vh;
	background-color: $roxo-escuro;
	display: flex;

	img {
		height: 100%;
		max-width: 50%;
		object-fit: contain;
		// background-color: black;
	}
}