@import '../../styles/variables';

.caixa__icone {
	position: absolute;
	right: 0;
	border-radius: 5px;
	background-color: $roxo-escuro;
	box-shadow: 5px 5px 2px 0px #5c3f5c50;
	color: $cinza-claro;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	animation-name: entradaCaixa;
	animation-duration: 1s;
	animation-fill-mode: forwards;

	.fonte {
		margin: 0 1rem;
		a {
			color: $cinza-claro;
			margin-left: .25rem;
		}
	}

	@media (max-width: 395px) {
		display: none;
	}
} 

@keyframes entradaCaixa {
	from {
		top: 0;
		height: 0;
	}
	to{
		top: -10%;
		height: min(5vh, 50px);
	}
}